<!DOCTYPE html>
<html lang="zh-cn" data-bs-theme="light">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/@@tabler/core/css/tabler.min.css">
    <link rel="stylesheet" href="~/lib/@@tabler/core/css/tabler-flags.min.css">
    <link rel="stylesheet" href="~/lib/@@tabler/core/css/tabler-payments.min.css">
    <link rel="stylesheet" href="~/lib/@@tabler/core/css/tabler-vendors.min.css">
    @await RenderSectionAsync("Headers", required: false)
</head>
<body class="layout-fluid">
    <div class="page">
        <header class="navbar navbar-expand-sm navbar-light d-print-none vh-5">
            <div class="container-xl">
                <h1 class="h3 navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
                    <a class="navbar-brand" asp-area="" asp-page="/Index">@ViewData["Title"]</a>
                </h1>

                <div class="navbar-nav flex-row order-md-last">
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </header>

        @RenderBody()
    </div>
    

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/@@tabler/core/js/tabler.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>